div div:nth-child(1) ul{
    
    margin-left: 510px

}
div div:nth-child(1) ul li {
    
    background-color: white;
    padding: 8px 0px;
    border-radius: 4px;
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    font-size: 18px;
} 
div div:nth-child(1) ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    border-radius: 4px;
} 

div div:nth-child(1) ul li a:hover{
    background-color: rgb(25, 174, 25);
    transition: .2s;
}
#dad1i1{
    width: 50px;
    display: inline;
}
#dad1i2{
    width: 50px;
    display: inline;
    margin-left: 10px;
    margin-top: -70px;
}
div:nth-child(1){
    width: 100%;
    height: 60px;
    background-color: coral;
    padding-top: 10px;
}
div:nth-child(2) ul a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    
    
}
div:nth-child(2) ul{
    list-style-type: none;
    width: 170px;
    height: 290px;
}
div:nth-child(2) ul a li{
    margin-top: 20px;
    margin-top: 20px;
}
div:nth-child(2) ul a:hover{
    color: rgb(35, 123, 6);
    transition: 3ms;
    
}