@font-face {
    font-family: 'cars';
    src: url(../fonts/Big_Shoulders_Display/BigShouldersDisplay-Light.ttf);
}
@font-face {
    font-family: 'info';
    src: url(../fonts/Lexend_Deca/LexendDeca-Light.ttf);
}
body{
    background: radial-gradient(500% 500% at 50% 0%, #fff 0px,#000 100px);
}
div:nth-child(1) {
    width: 400px;
    height: 600px;
    background-color: #e38826;
    margin-left: 250px;
    border-top-left-radius: 12px ;
    border-bottom-left-radius: 12px;
    margin-top: 100px;
}
div:nth-child(2) {
    width: 400px;
    height: 600px;
    background-color: #006970;
    margin-left: 650px;
    margin-top: -600px;
}
div:nth-child(3) {
    width: 400px;
    height: 600px;
    background-color: #004241;
    margin-left: 1050px;
    margin-top: -600px;
    border-top-right-radius: 12px ;
    border-bottom-right-radius: 12px;
    box-shadow: ;
}

/* first one */

div:nth-child(1) img {
    margin-left: 50px;
    margin-top: 50px;
    
}
div:nth-child(1) h2{
    margin-left: 50px;
    font-size: 50px;
    font-family: 'cars';
    color: white;
}
div:nth-child(1) p{
    color: white;
    margin-left: 50px;
    direction: ltr;
    font-size: 20px;
    font-family: 'info';
}
div:nth-child(1) a li{
    width: 100px;
    height: 20px;
    border-radius: 30px;
    border: white solid 2px;
    text-decoration: none;
    list-style-type:none ;
    margin-top: 130px;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 20px;
}
div:nth-child(1) a{
    text-decoration: none;
    color: white;
}
div:nth-child(1) a li:hover{
    background-color: white;
    color: #e38826;
    transition: 10ms;
}

/* second one */

div:nth-child(2) a li{
    width: 100px;
    height: 20px;
    border-radius: 30px;
    border: white solid 2px;
    text-decoration: none;
    list-style-type:none ;
    margin-top: 130px;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 20px;
}
div:nth-child(2) a{
    text-decoration: none;
    color: white;
}
div:nth-child(2) a li:hover{
    background-color: white;
    color: #006970;
    transition: 10ms;
}

div:nth-child(2) img {
    margin-left: 50px;
    margin-top: 50px;
    
}
div:nth-child(2) h2{
    margin-left: 50px;
    font-size: 50px;
    font-family: 'cars';
    color: white;
}
div:nth-child(2) p{
    color: white;
    margin-left: 50px;
    direction: ltr;
    font-size: 20px;
    font-family: 'info';
}

/* third one */

div:nth-child(3) a{
    text-decoration: none;
    color: white;
}
div:nth-child(3) a li:hover{
    background-color: white;
    color: #004241;
    transition: 10ms;
}
div:nth-child(3) a li{
    width: 100px;
    height: 20px;
    border-radius: 30px;
    border: white solid 2px;
    text-decoration: none;
    list-style-type:none ;
    margin-top: 105px;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 20px;
}
div:nth-child(3) a{
    text-decoration: none;
    color: white;
}
div:nth-child(3) a li:hover{
    background-color: white;
    color: #006970;
    transition: 10ms;
}

div:nth-child(3) img {
    margin-left: 50px;
    margin-top: 50px;
    
}
div:nth-child(3) h2{
    margin-left: 50px;
    font-size: 50px;
    font-family: 'cars';
    color: white;
}
div:nth-child(3) p{
    color: white;
    margin-left: 50px;
    direction: ltr;
    font-size: 20px;
    font-family: 'info';
}