div:nth-child(1) {
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: #5c5050;
    border-radius: 20px;
    padding: 40px;
    
}
* {
    box-sizing: border-box;
}
div:nth-child(1) > form > input , button {
    display: grid;
    /* position: absolute  ; */
    margin: auto;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}
.submit {
    width: 130px;
    height: 30px;
}
.re {
    color: white;
    font-size: medium;
    display: grid;
    position: absolute;
    margin: 50px 200px;
}